<div id="slider-main" class="sliderhome">
    <div id="sequence" class="seq">
        <!-- Banners + Titles -->
        <div class="seq-screen">
            <ul class="seq-canvas match-height">
                <li>
                    <picture>
                        <source srcset="/media/755018/Masthead-1280x480_v3.jpg" media="(min-width:768px)">
                        <img class="seq-banner" srcset="/media/755018/Masthead-1280x480_v3.jpg" alt="">
                    </picture>
                    <div class="seq-title"><h1>Setting new heights of excellence in west coast living</h1></div>
                    <div class="seq-info-box add-shadow-btm clearfix" id="bannerDesc">
                        <div class="seq-info match-element">

                            <div class="row match-height visible-sm visible-md visible-lg">
                                <div class="logo col-xs-3 col-sm-2 valign-middle">
                                    <a href="/whistlergrand"><img src="/media/755356/Whistler-Grand-LogoEng-Stacked-.jpg" /></a>
                                </div>
                                <div class="col-xs-9 col-sm-10 valign-middle">
                                    <h3>A LUSH HAVEN SHAPED BY NATURE’S RHYTHM</h3>
                                    <p>
                                        Distinctive 36-storey residences located along West Coast Vale.
                                        <br>
                                        <a href="/whistlergrand">More details</a>
                                    </p>
                                </div>
                            </div>
                            <div class="row match-height visible-xs">
                                <div class="col-xs-12 valign-middle">
                                    <div class="row">
                                        <div class="col-xs-3 logo"><a href="/whistlergrand"><img src="/media/755356/Whistler-Grand-LogoEng-Stacked-.jpg" /></a></div>
                                        <div class="col-xs-9"><h3>A LUSH HAVEN SHAPED BY NATURE’S RHYTHM</h3></div>
                                        <div class="col-xs-12 valign-middle">
                                            <p>
                                                Distinctive 36-storey residences located along West Coast Vale.
                                                <br>
                                                <a href="/whistlergrand">More details</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--<div class="seq-img">
                            <img src="/assets/images/cdl_best_developer.png" />
                        </div>-->
                    </div>
                </li>
                <li>
                    <picture>
                        <source srcset="/media/741570/masthead-banner.jpg" media="(min-width:768px)">
                        <img class="seq-banner" srcset="/media/741570/masthead-banner.jpg" alt="">
                    </picture>
                    <div class="seq-title"><h1>ICON TO MANY, HOME TO FEW</h1></div>
                    <div class="seq-info-box add-shadow-btm clearfix" id="bannerDesc">
                        <div class="seq-info match-element">
                            <div class="row match-height visible-sm visible-md visible-lg">
                                <div class="logo col-xs-3 col-sm-2 valign-middle">
                                    <a href="/southbeachresidences/sbrhome.html"><img src="/media/741575/Sbr_logo.png" /></a>
                                </div>
                                <div class="col-xs-9 col-sm-10 valign-middle">
                                    <h3>TOWERING OVER LANDMARKS. RISING ABOVE BENCHMARKS</h3>
                                    <p>
                                        Open for booking. If you demand absolute exclusivity, South Beach Residences is your landmark home without equal.
                                        <br>
                                        <a href="/southbeachresidences/sbrhome.html">More details</a>
                                    </p>
                                </div>
                            </div>
                            <div class="row match-height visible-xs">
                                <div class="col-xs-12 valign-middle">
                                    <div class="row">
                                        <div class="col-xs-3 logo"><a href="/southbeachresidences/sbrhome.html"><img src="/media/741575/Sbr_logo.png" /></a></div>
                                        <div class="col-xs-9"><h3>TOWERING OVER LANDMARKS. RISING ABOVE BENCHMARKS</h3></div>
                                        <div class="col-xs-12 valign-middle">
                                            <p>
                                                Open for booking. If you demand absolute exclusivity, South Beach Residences is your landmark home without equal.
                                                <br>
                                                <a href="/southbeachresidences/sbrhome.html">More details</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--<div class="seq-img">
                            <img src="/assets/images/cdl_best_developer.png" />
                        </div>-->
                    </div>
                </li>
                <li>
                    <picture>
                        <source srcset="/media/630865/1280x476_1.jpg" media="(min-width:768px)">
                        <img class="seq-banner" srcset="/media/630865/1280x476_1.jpg" alt="">
                    </picture>
                    <div class="seq-title"><h1>Forest Woods.<br> Open for Booking. </h1></div>
                    <div class="seq-info-box add-shadow-btm clearfix" id="bannerDesc">
                        <div class="seq-info match-element">

                            <div class="row match-height visible-sm visible-md visible-lg">
                                <div class="logo col-xs-3 col-sm-2 valign-middle">
                                    <a href="/forestwoods"><img src="/media/624025/logo-forestwood.png" /></a>
                                </div>
                                <div class="col-xs-9 col-sm-10 valign-middle">
                                    <h3>LIFE. BETTER IN EVERY WAY. </h3>
                                    <p>Luxurious residences located along Lor Lew Lian with only 5-minute walk to Serangoon MRT interchange. <a href="/forest-woods/">More details</a></p>
                                </div>
                            </div>
                            <div class="row match-height visible-xs">
                                <div class="col-xs-12 valign-middle">
                                    <div class="row">
                                        <div class="col-xs-3 logo"><a href="/forestwoods"><img src="/media/624025/logo-forestwood.png" /></a></div>
                                        <div class="col-xs-9"><h3>LIFE. BETTER IN EVERY WAY. </h3></div>
                                        <div class="col-xs-12 valign-middle">
                                            <p>Luxurious residences located along Lor Lew Lian with only 5-minute walk to Serangoon MRT interchange. <a href="/forest-woods/">More details</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--<div class="seq-img">
                            <img src="/assets/images/cdl_best_developer.png" />
                        </div>-->
                    </div>
                </li>
                <li>
                    <picture>
                        <source srcset="/media/706290/homepage-img02_en.jpg" media="(min-width:768px)">
                        <img class="seq-banner" srcset="/media/706290/homepage-img02_en.jpg" alt="">
                    </picture>
                    <div class="seq-title"><h1>the new pride of tampines</h1></div>
                    <div class="seq-info-box add-shadow-btm clearfix" id="bannerDesc">
                        <div class="seq-info match-element">

                            <div class="row match-height visible-sm visible-md visible-lg">
                                <div class="logo col-xs-3 col-sm-2 valign-middle">
                                    <a href="/thetapestry/index.html"><img src="/media/702725/tapestry-logo.jpg" /></a>
                                </div>
                                <div class="col-xs-9 col-sm-10 valign-middle">
                                    <h3>INSPIRED BY LIFE. DESIGNED FOR LUXURY.</h3>
                                    <p>
                                        Open for booking. Located  along Tampines St. 86, The Tapestry is a luxurious residence that draws inspiration from the richness of life.
                                        <a href="/thetapestry/index.html">More details</a>
                                    </p>
                                </div>
                            </div>
                            <div class="row match-height visible-xs">
                                <div class="col-xs-12 valign-middle">
                                    <div class="row">
                                        <div class="col-xs-3 logo"><a href="/thetapestry/index.html"><img src="/media/702725/tapestry-logo.jpg" /></a></div>
                                        <div class="col-xs-9"><h3>INSPIRED BY LIFE. DESIGNED FOR LUXURY.</h3></div>
                                        <div class="col-xs-12 valign-middle">
                                            <p>
                                                Open for booking. Located  along Tampines St. 86, The Tapestry is a luxurious residence that draws inspiration from the richness of life.
                                                <a href="/thetapestry/index.html">More details</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--<div class="seq-img">
                            <img src="/assets/images/cdl_best_developer.png" />
                        </div>-->
                    </div>
                </li>
                <li>
                    <picture>
                        <source srcset="/media/706306/New-Futura-Masthead.jpg" media="(min-width:768px)">
                        <img class="seq-banner" srcset="/media/706306/New-Futura-Masthead.jpg" alt="">
                    </picture>
                    <div class="seq-title"><h1>Forward Luxury for <br> the Farsighted</h1></div>
                    <div class="seq-info-box add-shadow-btm clearfix" id="bannerDesc">
                        <div class="seq-info match-element">

                            <div class="row match-height visible-sm visible-md visible-lg">
                                <div class="logo col-xs-3 col-sm-2 valign-middle">
                                    <a href="/newfutura/home.html"><img src="/media/706311/new_future_logo_homepage.png" /></a>
                                </div>
                                <div class="col-xs-9 col-sm-10 valign-middle">
                                    <h3>Welcome to the future of luxury living</h3>
                                    <p>Nestled in prestigious District 9, New Futura is a short stroll to Orchard Road and minutes’ drive to the CBD and Marina Bay financial district. <a href="/newfutura/home.html">More details</a></p>
                                </div>
                            </div>
                            <div class="row match-height visible-xs">
                                <div class="col-xs-12 valign-middle">
                                    <div class="row">
                                        <div class="col-xs-3 logo"><a href="/newfutura/home.html"><img src="/media/706311/new_future_logo_homepage.png" /></a></div>
                                        <div class="col-xs-9"><h3>Welcome to the future of luxury living</h3></div>
                                        <div class="col-xs-12 valign-middle">
                                            <p>Nestled in prestigious District 9, New Futura is a short stroll to Orchard Road and minutes’ drive to the CBD and Marina Bay financial district. <a href="/newfutura/home.html">More details</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--<div class="seq-img">
                            <img src="/assets/images/cdl_best_developer.png" />
                        </div>-->
                    </div>
                </li>


            </ul>
        </div>
        <!-- Pagination -->
        <ul class="seq-pagination hidden-xs"></ul>

        <!-- Previous & Next Buttons -->
        <div class="seq-nav visible-xs-block" aria-controls="sequence" aria-label="Slider buttons">
            <a class="seq-prev" aria-label="Previous">Previous</a>
            <a class="seq-next" aria-label="Next">Next</a>
        </div>
    </div>


</div>
