<div class="contact-footer">
    <div class="container-fluid">
        <div class="contact-content">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <h3>Contact Us</h3>
                    <hr>
                    <div class="country-select">
                        <div class="country-collapse">
                            <div class="collapse-title">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-4">
                                        <a class="country-name collapsed" data-toggle="collapse" href="#country-select" aria-expanded="false">
                                            <span>Singapore</span>
                                        </a>
                                        <div class="collapse" id="country-select" aria-expanded="false">
                                            <div class="collapse-shadow">
                                                <ul class="country-list list-unstyled">
                                                    <li class="selected"><a data-phone="+65 8783 1818 (Call/WhatsApp)" data-country="Singapore" data-email="enquiries@cdl.com.sg" data-address="9 Raffles Place </br> #12-01 Republic Plaza<br/> Singapore 048619" data-select="selected">Singapore</a></li>
                                                    <li><a data-phone="+86 21 6386 1836" data-country="China" data-email="enquiries@cdlsh.com" data-address="Unit 118 &lt;/br&gt; No. 2558 Hu Qing Ping Gong Road &lt;/br&gt; Qing Pu District&#160;&lt;br/&gt;Shanghai 201703 China" data-select="not-selected">China</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9 col-xs-8">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="show-phone">
                                                    <a>+65 8783 1818 (Call/WhatsApp)</a>
                                                </p>
                                                <p class="show-email">
                                                    <a href="/cdn-cgi/l/email-protection#086d66797d617a616d7b486b6c64266b6765267b6f"><span class="__cf_email__" data-cfemail="10757e616579627975635073747c3e737f7d3e6377">[email&#160;protected]</span></a>
                                                </p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="show-address">9 Raffles Place  <br /> #12-01 Republic Plaza<br /> Singapore 048619</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <h3>Get Updated</h3>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="get-updated">
                                <img src="/media/671823/newsletter.jpg" align="left">
                                <div class="sub-newsletter">
                                    <a href="/residential/buying-a-property/get-updated" target="_blank">Subscribe to newsletter</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="get-updated">
                                <img src="/media/671828/qr-code.jpg" align="left">
                                <div class="sub-wechat">
                                    <a>Scan Wechat QR Code</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

