<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <a href="https://apps.cdl.com.sg/homebuyers/App_Files/_Login/login.aspx" target="_blank"><span>Home Buyer Services</span></a>
            </div>
            <div class="text-right col-xs-12 col-sm-6">
                <a href="http://www.cdl.com.sg/" target="_blank"><span>CDL Corporate Site</span></a>
                &nbsp;&nbsp;|&nbsp;&nbsp;                                <a href="/residential/buying-a-property/terms-of-use/"><span>Terms of Use</span></a>
                &nbsp;&nbsp;|&nbsp;&nbsp;                                <a href="https://www.cdl.com.sg/index.php/privacy-policy" target="_blank"><span>Privacy Policy</span></a>
            </div>
        </div>
    </div>
</footer>
