<header id="top">
    <!-- Logo and language bar({ -->
    <div id="top-logo">
        <div class="container-fluid">
            <div class="row">
                <div class="top-logo col-xs-8 col-sm-6">
                    <div class="logo-wrapper">
                        <a class="logo" href="/">
                            <picture>
                                <source srcset="/media/382800/logo-cdl-top.png" media="(min-width:768px)">
                                <img srcset="/media/658913/retina_mobile_residential.png" alt="">
                            </picture>
                        </a>
                        <div class="header">RESIDENTIAL</div>
                    </div>
                </div>

                <!-- Language Selector for Tablets & Desktops -->
                <div class="top-lang-selector hidden-xs text-right col-xs-4 col-sm-6">
                    <a href="/cn/">简体中文</a>
                </div>

                <!-- Language Selector for Phones -->
                <div class="top-lang-selector-mobile visible-xs text-right col-xs-4 col-sm-6">
                    <select class="form-control" id="mbsellanguage">

                        <option value="EN" selected disabled>English</option>
                        <!-- <a href="/cn/">简体中文</a> -->
                        <option value="/cn/">简体中文</option>

                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- }); -->
    <!-- Menu({ -->
    <nav id="nav-main">
        <div class="container-fluid">
            <div class="row">
                <div class="text-right col-xs-12 col-sm-12">
                    <ul class="clearfix">

                        <li class='dropdown current'>
                            <a id="navMain" data-target="#" href="javascript:;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Buy <span class="caret"></span></a><!-- goup -->

                            <ul class="dropdown-menu" aria-labelledby="navMain">
                                <li class=''>
                                    <a href="/residential/buying-a-property/singapore-properties/">Singapore Properties</a>
                                </li>
                                <li class=''>
                                    <a href="/residential/buying-a-property/future-launches/" class="w-indent">Future Launches</a>
                                </li>
                                <li class=''>
                                    <a href="/residential/buying-a-property/land-for-enquiry/" class="w-indent">Land For Enquiry</a>
                                </li>
                                <li class=''>
                                    <a href="/residential/buying-a-property/latest-updates/" class="w-indent">Latest Updates</a>
                                </li>
                                <li class=''>
                                    <a href="/residential/buying-a-property/buyers-guide/" class="w-indent">Buyer's Guide</a>
                                </li>
                                <li class=''>
                                    <a href="/residential/buying-a-property/international-properties/">International Properties</a>
                                </li>
                            </ul>
                        </li>

                        <li class=''>
                            <a href="/residential/leasing-a-property/residences-for-lease/">Lease</a>

                        </li>

                        <li class='no-arrow '>

                            <a href="/residential/find/find-properties/#tab-map-view">Find a Property</a>
                        </li>
                        <li>
                            <a class="lightbox-generic" data-iframe="true" p-name="CDL properties" data-src="/residential/buying-a-property/contacts-web-form?propertyName=CDL Properties_CDL Properties|6989">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- }); -->
</header>
