@charset "utf-8";
body, p {
	font-family:"Microsoft YaHei", "微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif;
	font-size:14px;
	line-height:20px;
	color:#545454;
}
h1 {
	font-family:"Microsoft YaHei", "微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif;
	font-size:30px;
	line-height:20px;
	font-weight:normal;
	color:#2a2929;
	text-transform:uppercase;
}
h2 {
	font-family:"Microsoft YaHei", "微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif;
	font-size:20px;
	line-height:26px;
	font-weight:600;
	color:#6e4e10;
	text-transform:uppercase;
}
h3 {
	font-family:"Microsoft YaHei", "微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif;
	font-size:16px;
	line-height:17px;
	font-weight:600;
	color:#6e4e10;
	text-transform:uppercase;
	margin:0 0 5px 0;
}
h4 {
	font-size:16px;
	font-weight:normal;
}
h5 {
	font-size:18px;
	line-height:22px;
	font-weight:normal;
}
small {
	font-size:12px;
	line-height:16px;
	font-family:"Microsoft YaHei", "微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif!important;
}
p.small {
	font-size:12px;
	line-height:16px;
	font-family:"Microsoft YaHei", "微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif!important;
}
.column ol {
	margin-bottom:7px
}
.column ol li {
	margin-bottom:5px
}
#floorplan-tabs .ui-tabs-nav a {
	font-size:16px
}
/* Main Slider
=============================================*/
.rsABlock a {
	font-size:60px !important;
	line-height:65px !important;
	font-family:"Microsoft YaHei", "微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif!important;
	color:white;
	text-transform:uppercase;
	text-shadow:0 0 5px black; /*0 0 10px black;*/
	-webkit-text-shadow:0 0 10px black;
	-moz-text-shadow:0 0 10px black;
}
/* Top Navigation
=============================================*/ 
#top-nav-bar .txt {
	font-family:"Microsoft YaHei", "微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif!important;
	text-transform:uppercase;
	font-size:24px;
	color:black;
}
/* Others
=============================================*/
#top-nav-bar .txt {
	font-family:"Microsoft YaHei", "微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif!important;
	text-transform:uppercase;
	font-size:24px;
	color:black;
}
dl.select.big {
	font-size:15px;
	font-family:"Microsoft YaHei", "微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif!important;
}
.menu-dropdown li.current a {
	font-family:"Microsoft YaHei", "微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif!important;
}
#tabs-guide .tabs-link {
	font-family:"Microsoft YaHei", "微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif!important;
	text-transform:uppercase;
}
.table-special th {
	font-family:"Microsoft YaHei", "微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif!important;
	text-transform:uppercase;
	font-size:15px;
	line-height:18px;
	color:#6e4e10;
}
.calc-content #button {
	font-size:16px;
	font-family:"Microsoft YaHei", "微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif!important;
	line-height:18px;
	color:white;
}
a.cta {
	font-size:14px;
	font-family:"Microsoft YaHei", "微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif!important;/*text-transform:uppercase;*/
}
.header-inside h1 {
	font-family:"Microsoft YaHei", "微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif!important;
	font-size:30px;
	line-height:32px;
	font-weight:normal;
	color:#2a2929;
	text-transform:uppercase;
}
.select-profile-flag {
	font-family:"Microsoft YaHei", "微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif!important;
	font-size:18px;
	color:black;
}
#top-nav-bar .pull-right a {
	font-family:"Microsoft YaHei", "微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif!important;
	color:#6b3e0f;
	font-size:16px;
}
#top-header .header {
	font-size:40px/*60px*/;
	font-family:"Microsoft YaHei", "微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif!important;
	text-shadow:0 0 10px rgba(0, 0, 0, .5);
	text-transform:uppercase;
}
.tinytabs ul.tabs-link {
	font-size:16px;
	font-family:"Microsoft YaHei", "微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif!important;
	font-weight:300;
}
